# Como lake: Daily dataset exploration
The dataset provided by the researchers of PoliMi contains the daily *Levels*, *Inflows* and *Releases* of the Como lake from 1946 to 2011. This notebook will be used to explore the dataset and to study the process that produces the inflows values.

Let's start by importing the libraries thatwill be used and the dataset:

In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime
import os

from fbprophet import Prophet
import fbprophet.plot as fbp
import scipy.stats 

# Import the dataset 
data = pd.read_csv('data/como_data_1946_2011.txt', sep="  ", engine='python')
data[['day','month','year']] = data[['day','month','year']].astype(int)
data

       day  month  year  level  release  inflow
0        1      1  1946  1.150   116.00    65.6
1        2      1  1946  1.120    93.00    93.0
2        3      1  1946  1.120    84.00    67.2
3        4      1  1946  1.110    84.00    33.6
4        5      1  1946  1.080    84.00    84.0
...    ...    ...   ...    ...      ...     ...
23979   27      8  2011  0.355   196.21   204.6
23980   28      8  2011  0.360   194.42   102.1
23981   29      8  2011  0.305   194.19   160.6
23982   30      8  2011  0.285   189.73    72.3
23983   31      8  2011  0.215   188.29   104.4

[23984 rows x 6 columns]